.how-it-works-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 120px 0 120px 0;
  color: #0309A3;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px -5px 60px -5px;
  width: 100%;
}

.column {
  flex: 1;
  padding: 10px 30px;
  box-sizing: border-box;
}

.column-text {
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
}

.arrow-icon {
  margin: 0 5px;
}

.form-btn {
  background-color: #0309A3;
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 200px;
  font-size: 15px;
  cursor: pointer;
  outline: inherit;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .arrow-icon {
    /* display: none; */
    transform: rotate(90deg); /* Rotate arrow icons for mobile */
  }

  .column {
    flex-basis: 100%;
  }
}

